
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Free mobile app HTML landing page template to help you build a great online presence for your app which will convert visitors into users">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>IV Calculator - Simplified Investing for Everyone</title>
    
    <!-- Styles -->
    
    <link href="{% static 'https://fonts.googleapis.com/css?family=Montserrat:400,600,700' %} " rel="stylesheet">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static  'css/fontawesome-all.css' %}" rel="stylesheet">
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet">
	<link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
	<link href="{% static 'css/styles.css' %}" rel="stylesheet">
	
	<!-- Favicon  -->
    <link rel="icon" href="{% static 'images/logo.webp' %}">
</head>
<body data-spy="scroll" data-target=".fixed-top">
    
    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->

         <!-- Image Logo -->
         <a class="navbar-brand logo-image" href="index.html"><img src="{% static 'images/logo.webp' %}" style="height: 40px;width: 40px;" alt="alternative"></a>
        <a class="navbar-brand logo-text page-scroll" href="/">IV Calculator</a>
        
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/#features">FEATURES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/#preview">PREVIEW</a>
                </li>

                <!-- Dropdown Menu -->          
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="#details" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">TOOLS</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/DCF-valuation-Calculator"><span class="item-text">DCF Calculator</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="/Dhandho-valuation-Calculator"><span class="item-text">Dhandho IV</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="/Graham-valuation-Calculator"><span class="item-text">Graham Calculator</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="/ROE-valuation-Calculator"><span class="item-text">ROE Calculator</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="/PE-valuation-Calculator"><span class="item-text">PE Calculator</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="/SIP-Calculator"><span class="item-text">SIP Calculator</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="/Lump-Sum-Calculator"><span class="item-text">LUMP SUM Calculator</span></a>
                    </div>
                </li>
                <!-- end of dropdown menu -->

                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">CONTACT</a>
                </li>
            </ul>
            <span class="nav-item social-icons">
                <span class="fa-stack">
                    <a href="#your-link">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </a>
                </span>
                <span class="fa-stack">
                    <a href="#your-link">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-twitter fa-stack-1x"></i>
                    </a>
                </span>
            </span>
        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navbar -->
{% block content %}


  {% endblock %}

    <!-- Footer -->
    <div class="footer">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <div class="footer-col">
                      <h4>About Us</h4>
                      <p>We simplify Stock Market to help people invest better by providing all essential knowledge and tools!<br>

                        To summarise what we do briefly, our startup, Trade Brains is currently catering to day-to-day retail investors in India by providing necessary investing/trading tools and education.</p>
                  </div>
              </div> <!-- end of col -->
              <div class="col-md-4">
                  <div class="footer-col middle">
                      <h4>Important Links</h4>
                      <ul class="list-unstyled li-space-lg">
                          <li class="media">
                              <i class="fas fa-square"></i>
                              <div class="media-body">Useful sites <a class="turquoise" href="https://tradebrains.in">tradebrains.in</a> <span>, </span><a class="turquoise" href="https://portal.tradebrains.in/">portal.tradebrains.in</a></div>
                          </li>
                          <li class="media">
                              <i class="fas fa-square"></i>
                              <div class="media-body">Read our <a class="turquoise" href="/Terms-and-Conditions">Terms & Conditions</a>, <a class="turquoise" href="/disclaimer">Disclaimer</a></div>
                          </li>
                      </ul>
                  </div>
              </div> <!-- end of col -->
              <div class="col-md-4">
                  <div class="footer-col last">
                      <h4>Social Media</h4>
                      <span class="fa-stack">
                          <a href="https://twitter.com/TradeBrainsGrp">
                              <i class="fas fa-circle fa-stack-2x"></i>
                              <i class="fab fa-twitter fa-stack-1x"></i>
                          </a>
                      </span>
                    
                      <span class="fa-stack">
                          <a href="https://www.instagram.com/trade.brains/">
                              <i class="fas fa-circle fa-stack-2x"></i>
                              <i class="fab fa-instagram fa-stack-1x"></i>
                          </a>
                      </span>
                      <span class="fa-stack">
                          <a href="https://www.linkedin.com/company/trade-brains/">
                              <i class="fas fa-circle fa-stack-2x"></i>
                              <i class="fab fa-linkedin-in fa-stack-1x"></i>
                          </a>
                      </span>
                      <span class="fa-stack">
                        <a href="https://www.youtube.com/c/TradeBrains/">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-youtube fa-stack-1x"></i>
                        </a>
                    </span>
                  </div> 
              </div> <!-- end of col -->
          </div> <!-- end of row -->
      </div> <!-- end of container -->
  </div> <!-- end of footer -->  
  <!-- end of footer -->


  <!-- Copyright -->
  <div class="copyright">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <p class="p-small">Copyright © Dailyraven Technologies Pvt Ltd - <a href="https://tradebrains.in/">tradebrains.in</a></p>
              </div> <!-- end of col -->
          </div> <!-- enf of row -->
      </div> <!-- end of container -->
  </div> <!-- end of copyright --> 
  <!-- end of copyright -->
  
    
  <!-- Scripts -->
  <script src="{% static 'js/jquery.min.js' %}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
  <script src="{% static 'js/popper.min.js' %}"></script> <!-- Popper tooltip library for Bootstrap -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
  <script src="{% static 'js/jquery.easing.min.js' %}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
  <script src="{% static 'js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
  <script src="{% static 'js/jquery.magnific-popup.js' %}"></script> <!-- Magnific Popup for lightboxes -->
  <script src="{% static 'js/morphext.min.js' %}"></script> <!-- Morphtext rotating text in the header -->
  <script src="{% static 'js/validator.min.js' %}"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
  <script src="{% static 'js/scripts.js' %}"></script> <!-- Custom scripts -->
</body>
</html>